body {
	background-color: #fbfffb;
	font-family: monospace;
	margin: auto;
    width: 50%;
	padding: 20px;
}

h1 {
	color: #5a6d56;
	font-size: 36px;
}

div.main {
	background-color: lightgreen;
	margin-left: 100px;
	margin-right: 100px;
	opacity: 0.25;
}

a:link, a:visited, a:hover, a:active {
    text-decoration: none;
	color: #5a6d56;
	font-size: 20px;
}