body {
	background-color: #fbfffb;
	font-size: 200px;
	font-family: "Capriola", sans-serif;
	margin: 0 auto;
	width: 100%;
	padding: 0;
}

.middle {
	position: initial;
}

.image:hover {
	filter: invert(50%);
}

.social {
	display: flex;
	justify-content: center;
	align-items: center;
}


h1 {
	font-size: 36px;
}

h2, h3, h4 {
	margin: 0;
	padding: 0;
}

h3 {
	font-size: 200px;
	font-weight: normal;
}

.main {
	background-color: lightgreen;
	margin: 0 auto;
	opacity: 0.25;
}

a {
	text-decoration: none;
	color: #5a6d56;
}

a:hover {
	color: black;
}